/* .about { */
  /* background: url(../../assets//images//About.jpg); */
  /* background-repeat: no-repeat;
  background-size: cover;
} */
.video-bg{
  position: absolute;
  /* top: 5.8rem; */
  top: 0;
  left: 0;
  width: 100%;
  /* overflow: hidden; */
  z-index: -1; /* Make sure the video is behind the text */
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.test-slide {
  animation-duration: 3s;
  animation-name: testSlide;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@keyframes testSlide {
  from {
    margin-left: 0%;
    width: 50%;
  }
  to {
    margin-left: 100%;
    width: 100%;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInLeft 2s ease-out forwards;
}

.slide-in-right {
  animation: slideInRight 2s ease-out forwards;
}

@keyframes resize {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
}

.resize {
  animation: resize 2s infinite;
}
